<h4>Comisionado
  <small>-> Equipos</small>
</h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Equipo</label>
    <div class="col-md-8">

      <select class="form-control" formControlName="opcion">
        <option *ngFor="let opcion of opciones" [value]="opcion.opt"> {{ opcion.nombre }} </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 col-form-label">Opcion:</label>
    <div class="col-md-8">
  
      <select class="form-control" formControlName="opcion">
        <option *ngFor="let opcion of opciones" [value]="opcion.opt"> {{ opcion.nombre }} </option>
      </select>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-md-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" 
              class="btn btn-outline" 
              [disabled]="forma.invalid" 
              [ngClass]="{'btn-success': forma.valid,
                          'btn-danger': forma.invalid }">
        Guardar
      </button>
    </div>
  </div>

  <br> Valid: {{ forma.valid }}
  <br> Status: {{ forma.status }}
  <br> Dirty: {{ forma.dirty }}
  <br> Pristine: {{ forma.pristine }}

</form>