Código HTML:
<div id="indice">
  <ul>
    <li>
      <a href="#css">CSS</a>
    </li>
    <li>
      <a href="/normativa/#html5">HTML5</a>
    </li>
    <li>
      <a href="#php">PHP</a>
    </li>
  </ul>
</div>
<section>
  <h3 id="css">Tutorial de CSS</h3>
  <div class="section-content">
    Un texto MUY largo....
  </div>
</section>
<section>
  <h3 id="html5">HTML 5</h3>
  <div class="section-content">
    Otro texto muy largo sobre HTML5
  </div>
</section>
<section>
  <h3 id="php">PHP</h3>
  <div class="section-content">
    Otro texto muy largo sobre PHP
  </div>
</section>



<h2>Normativa Montesinos NBA</h2>

<hr>

DOS MÁXIMAS EN LA LIGA:
<ul>
	<li>SI LA APP NO DEJA HACER ALGO ES PORQUE NO SE PUEDE (Ante la duda pregunta)</li>
	<li>APP SIEMPRE ANTES QUE YAHOO (trades, fichajes, rookies, lesiones,...)</li>
</ul>

<hr>



<h2>1. COMISIONADO</h2>
<p>El comisionado de la liga será Bertojugon, Agus, Toni, Santi, Salva y Aphex.</p>

<hr>



<h2>2. POSICIONES</h2>
<p>PG, SG, G, SF, PF, F, C, C, Util, Util, BN, BN, BN</p>
<p>Si yahoo cambia alguna posición de un año a otro tendremos que ajustar el equipo. Tenemos la suerte de usar las posiciones "comodín" que son UTIL, G y F. </p>

<hr>



<h2>3. JUGADORES</h2>
<p>SEASON: Hay que tener 13 jugadores. La aplicación y yahoo te obligarán a dropar un jugador instantaneamente si tienes más de 13.</p>
<p>OFFSEASON (Renovaciones y Agencia Libre): Hay que tener 14 jugadores máximo en plantilla. Si alguien está por encima en algún momento de la temporada tendría que volver a 14 antes de 48h dropando, fichando o traspasando jugadores. Los derechos de jugadores no cuentan si estos no tienen contrato en el equipo.</p>

Por fases:
<ul>
	<li>LLDs/TO: 14 players.</li>
	<li>Corte gratis: 14 players.</li>
	<li>Renovaciones/FA: 14 players.</li>
	<li>Season: 13 players. 6 ADDS SEMANALES (6 cambios).</li>
</ul>

<strong><p>Regular Season: Todos los equipos sancionados (AVISO/1M) tendrán hasta el comienzo de los partidos de esa jornada para arreglar el problema de player (13 en RS) que supuso la sanción y 48h en el caso de que se encuentre con cap negativo, pero ojo si se hace un trade para ponerse en regla ha de tener en cuenta la siguiente excepción: los trades se validarán al instante y así no perder un día para negociar. En caso de no conseguirlo transcurrido ese tiempo será sancionado con 1M y tendrá que solucionarlo lo antes posible, el tiempo lo marcará el comisionado.</p>
<p>En offseason 48h para estar en regla. Si pasan 48h y el equipo no tiene los jugadores exigidos por la liga será sancionado con 1 AVISO y tendrá otras 12 horas para escoger al jugador que quiere cortar. Si pasan también estas 12 horas extra, entonces el comisionado sancionará con 1M. Pero si se pasa del límite salarial debido a la sanción tendrá otras 48h para estar por debajo del mismo y no 12h (SÓLO EN CASO DE ACUMULAR 3 AVISOS EN OFFSEASON).</p>
<p>OJO: no es necesario tener todas las posiciones cubiertas en offseason pero en el primer partido de liga si. En offseason no existirá minimo de jugadores pero si máximo que será de 14.</p></strong>

<hr>



<h2>4. WARNING O SANCIONES</h2>
<p>Cualquier descuido como dropar un FA de forma ilegal, alinear jugadores de forma incorrecta, fichar un FA sin haber ejercido su derecho si es rookie,....</p>
<p>PUEDE ACARREAR UNA SANCION EN FUNCIÓN DE LA GRAVEDAD. El comisionado con sus cinco integrantes decidirán el tipo de sanción en cada caso. La aplicación de la sanción a efectos de la masa salarial será de dos temporadas hasta el 15 de mayo. Es decir una sanción el 15 de junio se aplicará durante 23 meses, pero si fuese el 15 de abril se aplicará durante 13 meses.</p>
<p>Las sanciones aparecerán en el roster de cada GM.</p>
<p>También se estudiarán conductas tales como insultos u otros ya sean en el foro o en la Fantasy Yahoo.</p>
<br>
<p>SANCIÓN UNICA: 1M</p>
<p>Duración 2 temporadas hasta 1 de junio. (Explicado al principio de este apartado).</p>
<p>Avisos/warning: 3 avisos = 1M</p>
<br>
Si un GM tiene diferentes players en yahoo y web se procederá de la siguiente manera:
<ul>
	<li>No repercute en matchup: Se dará un aviso /warning. Si un GM tiene 3 avisos será penalizado con 1M.</li>
	Posibles casos:
	<ul>
		<li>Tras la recuperación automática de IL y el GM está con 14 players, pero el jugador continua INJ, en este caso se castigará con 1 aviso.</li>
		<li>Recalamar waiver y tener 14 players en app pero no repercute en matchup.</li>
		<li>Trades 2x1 o 3x2 o 2x2,... validados pero el GM no tienes mismos players en yahoo, pero no repercute en matchup.</li>
		<li>Fichar player durante su partido en directo pero no corresponden los mismos players en yahoo y app en la siguiente jornada (esto pasa cuando se olvida de fichar en yahooa partir de las 9.00 que es cuando deja). No repercute en matchup.</li>
		<li>Casos raros como fichar en yahoo pero no en app. No repercute en matchup.</li>
	</ul>

	<li>Repercute en matchup.</li>
	<ul>
		<li>Será sancionado y se procederá a benchear a aquellos players que el comisionado crea oportunos.</li>
		<li>Serán sancionados todos los casos antes vistos anteriormente (recalamar waiver, trades, IL, fichar durante los games,...) que repercutan en matchup con la penalización de 1M.</li>
	</ul>
</ul>

OTRAS SANCIONES:
<ul>
	<li>Sanción por sobrepasar más del tiempo permitido los límites salariales y de jugadores de los equipos. Sanción = 1 AVISO/1MILLÓN. Explicado a continuación, ya que es difrente en RS y offseason.</li>
	<li>Sanción por sobrepasar más del tiempo permitido los límites salariales y de jugadores de los equipos. Sanción = 1 AVISO/1MILLÓN. Explicado a continuación, ya que es difrente en RS y offseason.</li>
	<li>Regular Season: Todos los equipos sancionados (AVISO/1M) tendrán hasta el comienzo de los partidos de esa jornada para arreglar el problema de player (13 en RS) que supuso la sanción y 48h en el caso de que se encuentre con cap negativo, pero ojo si se hace un trade para ponerse en regla ha de tener en cuenta la siguiente excepción: los trades se validarán al instante y así no perder un día para negociar. En caso de no conseguirlo transcurrido ese tiempo será sancionado con 1M y tendrá que solucionarlo lo antes posible, el tiempo lo marcará el comisionado.</li>
	<li>En offseason 48h para estar en regla. Si pasan 48h y el equipo no tiene los jugadores exigidos por la liga será sancionado con 1 AVISO y tendrá otras 12 horas para escoger al jugador que quiere cortar. Si pasan también estas 12 horas extra, entonces el comisionado sancionará con 1M. Pero si se pasa del límite salarial debido a la sanción tendrá otras 48h para estar por debajo del mismo y no 12h (SÓLO EN CASO DE ACUMULAR 3 AVISOS EN OFFSEASON).</li>
	<li>Sanción por sobrepasar el límite salarial de 75M tras las renovaciones el día 1 de junio (límite 85M en ese periodo). - 1M y perdida del jugador/es a elección del comisionado. El jugador/es descartados del equipo irán a la FA ordinaria y el equipo quedará por debajo del límite salarial de 75M. Además su equipo quedará limitado a 13 players durante offseason esa temporada. En esta fase si algún GM supera las 48h de cortesía será sancionado con 1M sin avisos previos y las prórrogas de 12/24h como en offseason.</li>
	<li>Sanción por alineación incorrecta premeditada o "tanking". (No alinear jugadores, casos raros a estudiar,...). Se avisará en un primer momento y se sancionará, si se repiten acciones como: dejar bench intencionadamente o fichar jugadores que no jueguen ningun minuto en RS.</li>
</ul>

<hr>



<h2>5. EQUIPOS HEREDADOS</h2>
<p>Cuando un manager herede un equipo conservará tanto el bonus como las sanciones del anterior GM.</p>
<p>También podrá dropar un jugador con salario mayor o igual a 2M y tendrá un mes de plazo para hacerlo desde que hereda el equipo. Tras cortarlo no podra pujar por el en la primera subasta.</p>
<p>Perderán el corte gratis si hacen traspasos que modifiquen el equipo heredado.</p>

<hr>



<h2>6. LIMITE SALARIAL</h2>
<p>Cada franquicia dispone de una suma variable de dinero para invertir en contratos de jugadores, que aparece indicada en su roster. Ésta constituye el limite salarial para la suma de contratos de los jugadores que componen la plantilla.</p>
En cuanto al límite salarial se tendrán en cuenta los siguientes puntos:
<ul>
	<li>Incremento de bonus salariales.</li>
	<li>Reducción de sanciones.</li>
	<li>Dos limites salariales:</li>
	<ul>
		<li>75M LS</li>
		<li>85M LS RENOVACIONES</li>
	</ul>
</ul>
<p>El limite salarial es de 75M, pero en el mes de mayo, en el transcurso de las renovaciones de agentes libres, el límite salarial se establece temporalmente en 85M, si se sobrepasan tendrán 48h para ponerse en orden. Una vez finalicen las renovaciones el límite salarial será de nuevo 75M y los GMs dispondrán de 48h para ponerse bajo el cap.</p>
<p>Ver sanciones apartado 4 por excederse en 48h por encima del límite.</p>
<p>Los managers pueden sobrepasar los límites salariales en cualquier momento del año, pero si lo hacen, dispondrán desde entonces de 48 horas para volver a estar por debajo de ése límite. Tendrá que dropar algún jugador, hacer algún trade, etc... En caso de que algún manager sobrepase ésas 48 horas, será sancionado.</p>
<p>Los salarios tendrán como máximo una cifra decimal. Ejemplo: 0.1M, 3.4M, 6.9M, 19,1M, 15M, 8M,...</p>

<hr>



<h2>7. ESTADOS DE LA LIGA</h2>
<p>Hay tres plazos fundamentales a tener en cuenta:</p>
	<ol>
		<li>
			<p>Durante la temporada y playoff (SEASON): Desde que empieza el primer partido de la temporada hasta que terminan los playoff se podrá dropar jugadores por FAs, pero los jugadores dropados tendrán que tener un salario igual o inferior a 1.9M. Ejemplo: Dennis Schroder con contrato 1.7M podrá ser dropado en SEASON peroKent Bazemore 2M no. El contrato del jugador adquirido de la FA en este periodo será de 1M (1).</p>
			<p>Si cobran 2M o más el corte sancionará en un 50% del contrato que tenía el jugador y por las temporadas que tenía firmadas. Ver APARTADO 15 CORTE JUGADOR.</p>
			<p>EN PLAYOFF SÓLO PODRÁN USAR LA FA CLASIFICADOS QUE PASAN DE RONDA. FINAL</p>
		</li>
		<li>TO/LLD. Periodo de ejercer derechos de jugador (en su segundo año) o Team option (TO). Desde el 15 al 30 de abril a las 23:59h. En este plazo se decidirá si el jugador de lesión de larga duración vuelve al equipo o es cortado.</li>
		<li>
			<p>Periodo de corte gratis: Desde el 1 al 15 de mayo a las 23:59horas. Se podrá cortar a un jugador con contrato de 3 o 2 años al finalizar la temporada.</p>
			<p>Los jugadores cortados irán a la Agencia libre ordinaria, tras renovaciones.</p>
			<p>----------------NUEVA TEMPORADA (Actualizar contratos, bonus y sanciones)------------</p>
		</li>
		<li>Renovaciones y límite para ejercer derechos de rookies: Desde 15 hasta 31 de mayo a las 23:59h. Se pujará por los jugadores que terminan contrato y el propuetario podrá renovarlos al ser restringidos. NORMAS DE CONTRATACIÓN APARTADO 10.</li>
		<li>Agencia libre: Desde el 1 de junio hasta inicio de nueva temporada. Aqui entran jugadores dropados sea cual sea su contrato en periodo de corte gratis, cortados en renovaciones, LLD no recuperados, rookies expirados y jugadores que ya estaban en FA. NORMAS DE CONTRATACIÓN EN APARTADO 9.</li>
		<li>Draft rookies.</li>
	</ol>
<p>Los puntos 4, 5 y 6 corresponden con el periodo fuera de temporada (OFFSEASON): Desde las renovaciones hasta la semana previa al primer partido de regular season (para que de tiempo a finalizar las posibles ultimas pujas -- ULTIMA PUJA=1 SEMANA ANTES DE RS). Todo FA adquirido antes del comienzo de la temporada será a través de puja como en la Agencia libre. VER APARTADO 9 Y 10.
<p>En Resumen: Season (FA=1M(1,3) Corte gratis (dropar=gratis) Renovaciones (FA=PUJA / RENOVACIÓN) Agencia libre (FA=PUJA)</p>

<hr>



<h2>8. AÑOS DE CONTRATACIÓN</h2>
<p>Cada jugador llevará asignado a su salario un número entre paréntesis que serán los años de contrato que tiene. Como máximo puede ser de 3 años y como mínimo de 1 año. Ejemplo: Dennis Schroder 1.7M (3).</p>

<hr>



<h2>9. AGENCIA LIBRE</h2>
<p>PERIODO DE AGENCIA LIBRE DESDE EL 1 DE JUNIO HASTA EL INICIO DE LA TEMPORADA (una semana antes se cerraran las subastas/pujas).</p>
<p>Aqui entran jugadores dropados en renovaciones, jugadores corte gratis, FA sobrantes, rookies expirados, LLD no recupeados y si los hubiese jugadores quitados de un roster por sanción (no respetar límite de 75M el 1 de junio).</p>
<p>Limite de jugadores en roster en este periodo 14 máximo.</p>
<p>Los jugadores permanecerán 24h más tiempo hasta las 9:00 en waiver al inicio de la FA.</p>

<p>SISTEMA DE PUJAS:</p>
<p>Los agentes libres se pueden firmar por entre 1 y 3 temporadas y entre 0.5 millones y 20 millones de salario.</p>
<p>En una puja por un agente libre, se podrán hacer máximo 3 ofertas, salvo el que abrió la puja, que esa puja original no se le cuenta y por tanto en suma hará 4 en total comomáximo si lo desea. En caso de que 2 personas pujen el máximo que es 20 en 3, gana la puja quien la hizo antes en el tiempo, en el caso de que ningun GM gastase su waiver.</p>
<p>Los contratos mínimos a ofrecer son…</p>
<ul>
	<li>1 temporada, mínimo 0.5 de salario.</li>
	<li>2 temporadas, mínimo 1.2 de salario.</li>
	<li>3 temporadas mínimo 1.7 de salario</li>
</ul>
<p>En una puja por un agente libre, será el vencedor de la puja el que ofrezca más dinero al jugador. Para ello, se tendrá en cuenta la que llamaremos a partir de ahora “CANTIDAD RESULTANTE”. Si el contrato es a 1 año, la cantidad resultante será la misma que el manager ofrezca. Si es para 2 años, la cantidad que ofrezca se multiplicará por 1,4 para dar el resultante final, y si es a 3 años de duración, se multiplicará por 1,5. En caso de igualdad de cantidad resultante, la que mas años ofrezca ganará. Esta operación no se llevará a cabo en salarios inferiores de 2M, se tendrá en cuenta la cantidad y los años de contrato no serán relevantes.</p>
<p>Podéis gastar vuestro waiver en pujas con el máximo de salario de 20M(3). El GM que tenga prioridad de waiver ganará la puja. En el caso de que nadie use su waiver ganará el que antes puje por esta cantidad. Las pujas de 20x3 se cerraran automaticamente sin tener que esperar 36h más tiempo hasta las 22:00.</p>
<p>Si una puja se abre, se cerrará AUTOMATICAMENTE en el plazo de 36horas más tiempo hasta las 22:00. Cada GM podrá realizar 3 pujas (sin contar la puja inicial).</p>

<hr>



<h2>10. RENOVACIONES</h2>
<p>Las pujas de renovaciones utilizarán el mismo sistema que el anterior apartado. Recordad las pujas se cierran tras 36h más tiempo hasta las 22:00 y 3 pujas (sin tener en cuenta la puja inicial). Las excepciones en este periodo serán: la puja mínima será de 2x1 y el propietario tendrá dos poderes o privillegios (igualar pujas y pujas ilimitadas).</p>
<p>Todos los GMs pueden cortar y traspasar en periodo de renovaciones.</p>
<p>Se realizará desde el 15 al 31 de mayo. Teniendo en cuenta que si algún jugador a las 23:59 del 31 de mayo no tiene puja, ni si quiera de su actual dueño será Agente libre no restringido en la Agencia libre ordinaria del 1 de junio.</p>
<p>El límite provisional para este periodo será de 85M, si algún GM lo supera tendrá 48h para estar en regla . Además el 1 de junio todo GM debe de volver a respetar el límite salarial de 75M, sino será sancionado con 1M y perderá un jugador/es a elección del comisionado que irán a la Agencia libre ordinaria. Además su equipo quedará limitado a 13 players durante offseason esa temporada.En esta fase si algún GM supera las 48h de cortesía será sancionado con 1M sin avisos previos y las prórrogas de 12/24h como en offseason.</p>
<p>Limite de jugadores en roster en este periodo 14 máximo. No hay mínimo de jugadores hasta RS.</p>
<p>Para renovar a un jugador su propietario tendrá una serie de poderes o privilegios mientras la puja por el jugador este activa:</p>
<ol>
	<li>Pujas ilimitadas</li>
	<li>Posibilidad de igualar pujas activas</li>
	<li>Puede cambiar contrato en función de su Cantidad Resultante. Ejemplo: Toni oferta y gana la puja por Nick Young con 12-1 (Resultante=12). Su propietario, Agus, puede elegir renovar al jugador por 12-1, 10-2 o 8-3, ya que todos esos contratos tienen una resultante de 12.</li>
</ol>
<p>Podrá usarse waiver para conseguir la puja inicial. Los jugadores estarán 24h más tiempo hasta las 9:00 en waiver antes del 15 de mayo. A partir de este día a la hora elegida por el comisionado arrancarán las pujas.</p>
<p>Cuidado con dos cosas: ATENCIÓN</p>
<ol>
	<li>Hay tiempo de sobra para que se cierren las pujas y el propietario pueda renovar, pero recordad que las pujas se cierran automáticamente a las 23:59 el día 31 de mayo.</li>
	<li>Si algún GM a las 00:00 del 1 de junio no respeta el límite de 75M será sancionado como explicamos anteriormente (limite salarial para renovaciones 85M). Los que están dentro de este umbral no esperen al último momento para proponer trades que liberen masa salarial, ya que corren el riesgo de que el trade sea vetado.</li>
</ol>

<hr>



<h2>11. LESIÓN LARGA DURACIÓN, JUGADORES QUE SE MARCHAN DE LA NBA O RETIRADOS</h2>
<p>Out for Season: Podrá ser dropado ese año sea cual sea su contrato y gratis.</p>
<p>Además, si su contrato es de 1, 2 o 3 años la próxima temporada podría volver a la plantilla, si el GM lo decide en abril, y si es de 1 año y no recuperado por el GM sería agente libre no restringido.</p>
<p>El contrato del jugador adquirido será de 1M como ya se explicó con anterioridad o en función de la puja si es en AL u offseason. El contrato del jugador lesionado no contaría ese año en cuestión de limite salarial.</p>
<p>Se pondrán en el post de "lesiones de larga duración" con el enlace de rotoworld.com.	Esperemos que rotoworld se confunda poco, es muy fiable pero a veces mete la pata aunque suele ser con day to day.</p>
<p>Una vez puesto el jugador en el apartado del roster de LLD no podrá ser traspasado, pero si se traspasa antes podrá ser cortado por el equipo que lo recibe(Puede usarse como estrategia). LA LLD EN OFS SE PUEDE USAR ANTES DEL ULTIMO PARTIDO DE RS (TODOS LOS EQUIPOS) Y ANTES DEL ULTIMO PARTIDO DE PO (SOLO CLASIFICADOS), PERO TRAS EL TRADE DEADLINE NO SE PODRÁ CORTAR GRATIS A LOS JUGADORES EN ABRIL.</p>
<p>"out for season"</p>
<ol>
	<li>"Out for season" es necesario contrastar con enlace de Rotoworld.</li>
	<li>"Out for season" es valido para offseason .</li>
	<li>Los "out for season" se aprobaran o no por el comisionado. Basándose en la fiabilidad del enlace.</li>
	<li>El comisionado puede obligar al uso de "Out for season" para evitar tanking,salvo que el GM muestre pruebas contrarias y el jugador pueda jugar algún partido de RS o PO de yahoo.</li>
</ol>

<p>Los jugadores retirados o que se marchan fuera de la NBA se consideran out for season. En estos casos no exisitirá opción de regresar a la plantilla en la siguiente temporada y serán FA de forma inminente si son cortados por un GM.</p>
<p>Excepciones y aclaraciones:</p>
<ul>
	<li>Jugador con contrato con un equipo que no debuta en RS y es OFS. Se aplican condiciones/privilegios de OFS.</li>
	<ul>
		<li>Ej: Caso Embiid temporada 2015/16</li>
	</ul>
	<li>Jugador que marcha a jugar a china o retirados y es OFS. No se aplican condiciones/privilegios de OFS. Serían corte gratis e irían a FA inminentemente.</li>
	<ul>
		<li>Ej: Beasley, Metta World Peace, etc...</li>
	</ul>
	<li>Jugador sin contrato con un equipo que no debuta en RS y es OFS. No se aplican condiciones/privilegios de OFS. Se verá obligado a cortarlo al inicio de RS. El corte será gratis si su contrato es 1,9 o menos y penalizará en 50% si es 2 o más.</li>
	<ul>
		<li>Ej: Cualquier overseas que no tenga contrato con equipo NBA.</li>
	</ul>
</ul>

<p>Lesión 3 meses o más: Si un jugador no disputa ningún partido durante 3 meses o más será considerado lesión de larga duración con los privilegios de corte gratis al final de temporada. El contrato del jugador lesionado no contaría ese año en cuestión de limite salarial. Se pondrán en el post de "lesiones de larga duración" con una imagen donde se observe que el jugador se ha ausentado durante 3 meses. A efectos legales si un jugador juega su último partido el día 2 de noviembre y no juega el día 4 de noviembre podrá ser LLD el día 4 de febrero.</p>
<p>No vale para offseason. Uso exclusivo en RS.</p>
<p>Tanto el uso de OFS como 3 meses o + prohibe el regreso al roster del jugador en la temporada en curso. Sólo podría volver en abril tras playoff si el GM decide recuperarlo.</p>

<br>

<p>IL (GUARDAR 1 MILLÓN PARA PODER USARLA)</p>
<ol>
	<li>Cada equipo tiene derecho a usar un hueco de IL. Solo un jugador, aunque puede quitar uno y poner a otro cuando quiera.</li>
	<li>Sigue pagando el salario del lesionado y debe fichar de FA jugador con contrato 1x1. Ya que la IL sólo estatá operativa en Regular Season.</li>
	<li>La activación del IL la hace el manager. Además debe de mandar una captura a uno de los comisionados donde se vea la hora y el jugador con INJ de yahoo cuando se active o renueve IL.</li>
	<li>En cualquier momento el manager puede recuperar su IL dropando a otro jugador (la app obliga a dropar)</li>
	<li>Al margen de la recuperación voluntaria, al inicio de cada matchup (lunes a las 10:00) se recuperan automaticamente todos los IL, y sus dueños deben volver a activar IL si quieren. En este caso la app no puede obligar a dropar, pero se enviaría aviso por correo para que os pongais en orden antes de los games de ese día y evitar ser sancionado.</li>
</ol>
<p>Recordad que siempre debéis de tener mismos jugadores en app y yahoo.</p>
<p>Casos especiales de jugadores sin equipo temporalmente podran meterse en IL mandando foto de Rotoworld. Ejemplo : Josh Smith fue cortado y estuvo un tiempo sin equipo.</p>

<br>
Tema sanciones:
<p>Si un jugador tras estar en IL es recuperado automáticamente por la app el lunes a las 10:00 y tiene 14 players por descuido una vez empezado los partidos del lunes será sancionado con 1M como pone en normativa, excepto si el jugador sigue INJ en este caso tendrá un aviso, la acumulación de 3 avisos será igual a -1M.</p>
<p>En app será simple activar IL o recuperar.</p>
<p>En yahoo no habrá slot de IL. Se mandará el jugador a la FA. Si buscáis un jugador en FA yahoo cuidado con seleccionar jugadores que esten en IL, OFS y derechos. Aunque si hacéis primero app y luego yahoo no habrá problema.</p>

<hr>



<h2>12. JUGADORES NO CLASIFICADOS EN PLAYOFF.</h2>
<p>No podrán fichar jugadore de la FA, los managers no clasificados ni tampoco los que juegan puestos de consolación. Tampoco podrán usar la opción de lesión de larga duración.</p>

<hr>



<h2>13. TRADES</h2>
<p>PERIODO DE TRASPASOS DESDE RENOVACIONES HASTA TRADE DEADLINE.</p>
<p>Cuando exista una propuesta de trade, los GMs implicados tendrán que postearlo en el grupo. Para conocer el compromiso de ambos uno lo publicará y el otro tendrá que aceptar el trade. </p>
<p>Debe de aparecer:</p>
<ul>
	<li>Jugadores sin iniciales, para evitar confusiones.</li>
	<li>Contrato jugadores (salario/años).</li>
	<li>Cap libre actualizado tras trade de los dos equipos.</li>
	<li>Huecos en el roster.</li>
</ul>
<p>No se permitirán trades de ida y vuelta durante RS (En offseason si se permite). Ejemplo si los Mislata  traspasan a Deandre Jordan no puede volver a su roster, excepto si el jugador pasa por otro roster "roster puente" o pasan 2 meses desde que fue traspasado. A efectos legales desde el día que se valida el trade hasta pasado el mismo día tras dos meses (si se valida el trade el 2 de diciembre podría volver a su anterior roster el día 3 de febrero).</p>
<p>Hay free trades y sólo vetará el comisionado, si lo cree conveniente para casos muy descompensados.</p>
<p>Por último el comisionado tendrá la última palabra. Los trade se validarán como máximo tras 24 h en offseason y antes de la siguiente jornada (pero no en la jornada en curso) de partidos desde su propuesta en RS.</p>
<p>DOS EXCEPCIONES:</p>
<ul>
	<li>Excepto en el periodo de renovaciones, inicio de Agencia Libre ordinaria y draft de rookies que el tiempo para vetar/validar trade y su ejecución será como máximo antes de 12h. Desde el 15 de mayo hasta que se draftee el pick número 28. Estos  serán revisados por el comisionado.</li>
	<li>Excepto tras recibir sanción  en RS u offseason y estar por debajo de cap que se podrá validar al instante, para que el GM no pierda un día para tradear.</li>
	<ul>
		<p></p>
		<p>JORDAN HILL 9M (2) Y REGGIE JACKSON 2,2M (1) TOTAL: 11,2M</p>
		<p>XXXXX</p>
		<p>GREG MONROE 5,5M (1) Y CALDERON 7M (1) TOTAL: 12,5M</p>
	</ul>
</ul>

<p>SOLO HAY QUE TENER EN CUENTA QUE NO NOS PASEMOS DEL LIMITE SALARIAL 75M POR FRANQUICIA. DA LO MISMO DESIGUALDAD EN CUANTO AL TOTAL SI EL TRADE ES JUSTO. ES DECIR SI EQUIPO "A" PRESENTA UN TOTAL DE 2M Y EL "B" 10 M, SI EL TRADE ES JUSTO SE LLEVARÁ A CABO. PERO OJO EL EQUIPO DEBE DE TENER AL MENOS 8M LIBRES (10-2=8).</p>
<p>*** Cada equipo puede tradear sus rondas de draft de los dos siguientes años. Esta temporada 2014-15 tendria :1ªronda 2015, 2ªronda 2015. 1ª ronda 2016 y 2ª ronda 2016. Esto aparecerá en los rosters de cada uno. Los trades se pueden equilibrar con rondas o derechos de jugador.</p>

<hr>



<h2>14. DERECHOS DE JUGADORES Y DRAFT DE ROOKIES</h2>
<p>Se hará un draft según la clasificación en la regular season a la inversa SOLO EN INICIO DE DINASTY. El equipo número 14 elegirá primero. Cada equipo tendrá una primera y segunda ronda de draft por cada temporada. Los jugadores podrán ser seleccionados  sólo de los 60 elegidos en el sorteo del draft real y los undrafted de ese año. Será Snake draft.</p>
<p>EN LAS TEMPORADAS VENIDERAS:  Para evitar tanking  y acercarnos a la realidad se sortearán las primeras seis posiciones del draft (equipos fuera de playoff). Los equipos que terminen en Regular Season 9, 10,11, 12, 13, 14 participarán en un sorteo con las mismas opciones en el reparto de picks. El resto de posiones no se sortearían y la segunda ronda tampoco. Será snake draft. (No se tiene en cuenta el sorteo en la segunda ronda, se hace según clasificación RS).</p>
<p>Con lo cual cada equipo poseerá los derechos de dos jugadores por año o más si consigue alguno en algún traspaso.</p>
<p>Los derechos de jugadores pueden durar  2 años como máximo. Para poder ser elegido en la Fantasy de  yahoo debe de tener un contrato. El contrato será de 3 o 4 años y tendrá dos excepciones (Team option y Restringido) Team option se aplica en abril/mayo (hasta las 00:00 del 1 de mayo) y la opción de jugador restringido igualando úl tima puja en la Agencia Libre.</p>
<p>ACTIVAR DERECHO GASTA UN ADD SEMANAL</p>
<p>CONTRATOS ROOKIES, A TENER EN CUENTA:</p>
<ul>
	<li>¿Cuando se ejerce el derecho de un rookie?</li>
	<ul>
		Cuando quiera. Durante la temporada o no. Pero , si el 15 de mayo en su ultimo año de derecho no lo activo será FA. Tengo 2 años para hacerlo.
	</ul>
	<li>¿Cuando es la fecha limite para ejercer derecho o team option?</li>
	<ul>
		1 de mayo a las 00:00 de su segundo año.
	</ul>

	<li>Una vez que ejerzo el derecho de un jugador ¿qué contrato tendría?</li>
	<ul>
		Si es en el primer año,  después del  draft, tendrá un contrato con el valor de pick que aparece abajo durante 4 años. Si ejerzo el contrato en su segundo año durará 3 años.
	</ul>
	<li>¿Si su contrato es de 3 o 4 años y cobra más de 2M podría cortarlo?</li>
	<ul>
		Si pero sólo al final de temporada hasta 1 de mayo a las 00:00. En periodo de TO (Team option).
	</ul>
	<li>Tras finalizar su contrato ¿puedo renovarlo?</li>
	<ul>
		Si, ya que los rookies son restringidos (RR). Para eso tendré que igualar la ultima puja.
	</ul>
</ul>

<p>Salarios aplicables:</p>
<div class="row main-container">
	<div class="col-md-4 offset-md-4">
		<table class="table table-striped table-bordered table-sm">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">Pick</th>
		      <th scope="col">Salario</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr class="table-default">
					<td>1</td>
		      <td>4.8M</td>
		    </tr>
				<tr class="table-default">
					<td>2</td>
		      <td>4.3M</td>
		    </tr>
				<tr class="table-default">
					<td>3</td>
		      <td>3.9M</td>
		    </tr>
				<tr class="table-default">
					<td>4</td>
		      <td>3.5M</td>
		    </tr>
				<tr class="table-default">
					<td>5</td>
		      <td>3.3M</td>
		    </tr>
				<tr class="table-default">
					<td>6</td>
		      <td>3.0M</td>
		    </tr>
				<tr class="table-default">
					<td>7</td>
		      <td>2.7M</td>
		    </tr>
				<tr class="table-default">
					<td>8</td>
		      <td>2.5M</td>
		    </tr>
				<tr class="table-default">
					<td>9</td>
		      <td>2.3M</td>
		    </tr>
				<tr class="table-default">
					<td>10</td>
		      <td>2.2M</td>
		    </tr>
				<tr class="table-default">
					<td>11</td>
		      <td>2.1M</td>
		    </tr>
				<tr class="table-default">
					<td>12</td>
		      <td>2.0M</td>
		    </tr>
				<tr class="table-default">
					<td>13</td>
		      <td>2.0M</td>
		    </tr>
				<tr class="table-default">
					<td>14</td>
		      <td>2.0M</td>
		    </tr>
				<tr class="table-default">
					<td>15</td>
		      <td>1.9M</td>
		    </tr>
				<tr class="table-default">
					<td>16</td>
		      <td>1.9M</td>
		    </tr>
				<tr class="table-default">
					<td>17</td>
		      <td>1.8M</td>
		    </tr>
				<tr class="table-default">
					<td>18</td>
		      <td>1.7M</td>
		    </tr>
				<tr class="table-default">
					<td>19</td>
		      <td>1.6M</td>
		    </tr>
				<tr class="table-default">
					<td>20</td>
		      <td>1.5M</td>
		    </tr>
				<tr class="table-default">
					<td>21</td>
		      <td>1.4M</td>
		    </tr>
				<tr class="table-default">
					<td>22</td>
		      <td>1.3M</td>
		    </tr>
				<tr class="table-default">
					<td>23</td>
		      <td>1.2M</td>
		    </tr>
				<tr class="table-default">
					<td>24</td>
		      <td>1.1M</td>
		    </tr>
				<tr class="table-default">
					<td>25</td>
		      <td>1.0M</td>
		    </tr>
				<tr class="table-default">
					<td>26</td>
		      <td>0.9M</td>
		    </tr>
				<tr class="table-default">
					<td>27</td>
		      <td>0.8M</td>
		    </tr>
				<tr class="table-default">
					<td>28</td>
		      <td>0.7M</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>

<hr>



<h2>15. CORTE JUGADOR</h2>
<p>Todos lo jugadores cortados se postearán en el foro.</p>
<p>Dos tipos:</p>
<ul>
	<li>Cortable gratis</li>
	<ul>
		<li>1.9M o menos</li>
		<li>Desde 1 al 15 de mayo A las 23:59.  Se podrá cortar a un  jugador con contrato de 3 o 2 años al finalizar la temporada. Este jugador no podrá volver a su anterior equipo en la Agencia Libre. Los jugadores cortados irán a la Agencia libre ordinaria, tras renovaciones.</li>
	</ul>
	<li>Corte no gratis</li>
	<ul>
		<li>Si cobran más de 1.9M el corte será el 50% del contrato que tenía el jugador y por las temporadas que tenía firmadas. En las cantidades con decimales que terminan en numero impar además llevara impuesto una penalización de 0,1M extra. Ejemplo: 4,7M penaliza 2,4M.</li>
	</ul>
</ul>
<p>NO SE PODRA FICHAR A UN JUGADOR DE FA OFFSEASON O AL UNA VEZ DROPADO. HASTA QUE PASE POR OTRO ROSTER. A NO SER QUE FIRME EL MISMO CONTRATO COMO MÍNIMO QUE TUVO EN SU ANTERIOR EQUIPO. EN SEASON SI SE PERMITE.</p>

<hr>









<h2>*16. WAIVERS</h2>
<p>El orden de waiver se mantendrá de una temporada a otra. Sólo se ordenará a la inversa del draft en la temporada inicial.</p>
<p>AGENCIA LIBRE Y OFFSEASON:</p>
<p>El tiempo de waiver será 24h , más el tiempo restante hasta las 9:00.</p>
<p>Lo haremos por la app del foro.</p>
<p>El jugador que se lleva la puja inicial en una subasta tiene ventaja. Para empezar dispone de 4 pujas en lugar de 3. Además puede disfrutar de ventajas estratégicas, como pujar en el límite de cortable (1.9) de forma que el siguiente pujador se tenga que pensar bien si quiere llevarse el jugador como no cortable. Otra ventaja estratégica puede ser pujar el máximo 20(3) de forma que ya nadie puede mejorar tu oferta.</p>
<p>¿Como conseguir ser el pujante inicial? Debido a los problemas que surgen al abrir tanda/puja a una hora y que el primero fuera el que se llevaba el gato al agua, se permite el uso de waivers para obtener prioridad. De esa forma hay dos formas de conseguir la puja inicial:</p>
<p>Waivers:</p>
<p>Un manager puede pujar ANTES de que comience una tanda/puja usando su waiver. El waiver se solucitará por la app. El comisionado decidira quien se lleva la puja en función del contrato y de su orden de waiver (un waiver 2) tiene prioridad sobre un waiver 5). Se llevará la puja inicial quien ofrezca un mejor contrato y en caso de empate quien tenga mejor waiver. El manager que se lleve esa puja inicial habrá gastado su waiver y pasará a tener el #14.</p>
<p>El waiver se usará para conseguir la puja inicial. En caso de empate en  pujas que coincidan en tiempo y contrato ganará el que tenga mejor waiver, las mas usuales serán 1.9x3 y 20x3. El tiempo de waiver viene marcado por la app (24h más tiempo hasta las 9:00)</p>
<p>Es responsabilidad del GM que pida mas de un jugador usando waivers indicar su lista de prioridades.</p>
<p>Si el GM no explicita sus prioridades se asignaran de acuerdo al orden de petición.</p>
<p>Los waiver se respetan de OFFSEASON a SEASON. Tu decides cuando gastarlo.</p>
<p>¿Cómo se usa la prioridad de waiver?</p>
<p>Ordenando lista en la app en la pestaña de tu equipo.</p>
<p>Si nadie usa waiver:</p>
<p>Si nadie gasta waiver por un jugador, se llevará la puja inicial el primero que puje en la app.</p>
<p>REGULAR SEASON:</p>
<p>En Regular Season, el tiempo de waiver será 24h , más el tiempo restante hasta las 9:00, ese momento será cuando se conocerá que equipo consigue el jugador con contrato 1x1 </p>
<p>De tal manera que si un waiver se solicita a las 8:00 su tiempo de waiver será 24h más 1h hasta las 9:00.</p>
<p>Pero si se solicita a las 10:00 su tiempo de waiver será 24h más 23.</p>
<p>Es decir que el tiempo de waiver oscilará entre 24h minimo y 48h máximo.</p>
<p>Si el jugador es asquirido mientras se juega su  partido no computará su puntuación. Pero si se adquiere antes de su partido si.</p>

<hr>










<!--

	<h2>*17. BONUS</h2>
	<p>Se premiará a las franquicias en varias circunstancias: premios individuales NBA, predicciones y rendimiento de la franquicia. Se aplicarán el 1 de junio conforme vayamos conociendo los premiados. Los bonus tendrán una vida de 1 temporadas. </p>

	<p> En el caso de las predicciones, estas se realizará en septiembre y habrá un plazo marcado por el comisionado para votar. El voto se realizará por miarroba de forma secreta y será respondido por el comisionado para que conste que el mensaje fue recibido.</p>

	<p>En caso de empate en el apartado 2 y 3 tendrá la diferencia habrá varios premios en cada puesto. Ejemplo:</p>

	<p>Berto: 5 =+ 0,3</p>

	<p>Agus: 5 = + 0,3</p>

	<p>Aphex: 5 = + 0,3</p>

	<p>Santi: 4 = + 0,2</p>

	<p>Guiri: 4 = + 0,2</p>

	<p>Toni: 3 = + 0,1</p>

	<p>Es necesario acumular al menos un acierto para optar al bonus. </p>



	<p>1) BONUS NBA. Este es un bonus de 0,1M para aquellas franquicias que en sus filas posean a alguno de los premiados por la NBA a final de temporada. Se pueden acumular. Las categorías son: </p>
	<ul>
		<li> Mejor Sexto hombre de la NBA</li>
		<li> Mejor novato del año en la NBA. </li>
		<li> Mejor jugador defensivo de la NBA.</li>
		<li> Jugador con más progresión de la NBA.</li>
		<li> MVP de la liga</li>
	</ul>


	<p>2) PREDICCIONES: Para la temporada siguiente a la que se hizo la apuesta:</p>
	<ul>
		<li> Rookie del año.</li>
		<li> Mejor entrenador de la NBA. </li>
		<li> Mejor sexto hombre </li>
		<li> Peor franquicia de la NBA. </li>
		<li> Mejor jugador defensivo</li>
		<li> MVP de la NBA</li>
		<li> Campeón de la NBA</li>
	</ul>

	<p>Para el que mas acierte: 0,3M para la siguiente temporada.</p>

	<p>Para el 2º que mas acierte: 0,2M para la siguiente temporada.</p>

	<p>Para el 3º que mas acierte: 0,1M para la siguiente temporada.</p>


	<p>3) PREDICCIONES MNBA O D-LEAGUE : Para la temporada siguiente a la que se hizo la apuesta:</p>
	<ul>
		<li> Peor franquicia de MNBA/D-LEAGUE</li>
		<li> Finalistas de MNBA/D-LEAGUE</li>
		<li>Campeón de la liga regular MNBA/D-LEAGUE</li>
		<li>Campeón de MNBA/D-LEAGUE</li>
		<li>Campeón Copa MNBA/D-LEAGUE</li>
		<li>Campeón Supercopa MNBA/D-LEAGUE (aplica a la Supercopa correspondiente a la temporada anterior, es decir se vota en septiembre y se conoce ganador en noviembre)</li>
	</ul>

	<p>Para el que mas acierte: 0,3M para la siguiente temporada.</p>

	<p>Para el 2º que mas acierte: 0,2M para la siguiente temporada.</p>

	<p>Para el 3º que mas acierte: 0,1M para la siguiente temporada. </p>


	<p>4) Bonus por ganar liga MNBA/D-LEAGUE 0,5M</p>

	<p>5) Bonus por quedar finalista 0,3M</p>

	<p>6) Bonus por quedar semifinalista 0,2M</p>

	<p>7) Bonus por ganar Copa MONTESINOS: 0,5M</p>

	<p>8) Bonus por ganar SuperCopa MONTESINOS : 0,3M</p>

	<p>9) Bonus por resultado en Regular Season:
		<ul>
			<li>1º 1,3M</li>
			<li>2º 1,2M</li>
			<li>3º 1,1M</li>
			<li>4º 1M</li>
			<li>5º 0,9M</li>
			<li>6º 0,8M</li>
			<li>7º 0,7M</li>
			<li>8º 0,6M</li>
			<li>9º 0,5M</li>
			<li>10º 0,4M</li>
			<li>11º 0,3M</li>
			<li>12º 0,2M</li>
			<li>13º 0,1</li>
			<li>14º 0</li>
		</ul>
	</p>
	<hr> -->





<!--

	<h2>*19. COPA Y SUPERCOPA</h2>
	<p>La Copa la jugarán los 8 mejores equipos de cada liga, MNBA y DLeague.</p>

	<p>Fecha: Enero/febreo a determinar por el comisionado.</p>

	<p>Ganador: Premio Bonus 0,5</p>

	<p>Los cruces serán así:</p>

	<p>OCTAVOS DE FINAL

		<ul>
			<li>ENFRENTAMIENTO 1: OCTAVO MNBA vs PRIMERO D-LEAGUE</li>
			<li>ENFRENTAMIENTO 4: SEPTIMO MNBA vs SEGUNDO D-LEAGUE</li>
			<li>ENFRENTAMIENTO 3: SEXTO MNBA vs TERCERO D-LEAGUE</li>
			<li>ENFRENTAMIENTO 2: QUINTO MNBA vs CUARTO D-LEAGUE</li>
			<li>ENFRENTAMIENTO 6: CUARTO MNBA vs QUINTO D-LEAGUE</li>
			<li>ENFRENTAMIENTO 7: TERCERO MNBA vs SEXTO D-LEAGUE</li>
			<li>ENFRENTAMIENTO 8: SEGUNDO MNBA vs SEPTIMO D-LEAGUE</li>
			<li>ENFRENTAMIENTO 5: PRIMERO MNBA vs OCTAVO D-LEAGUE</li>
		</ul>
		CUARTOS DE FINAL
		<ul>
			<li>CF1: Ganador de 1 vs Ganador de 2</li>
			<li>CF1: Ganador de 3 vs Ganador de 4</li>
			<li>CF1: Ganador de 5 vs Ganador de 6</li>
			<li>CF1: Ganador de 7 vs Ganador de 8</li>
		</ul>
		SEMIFINAL
		<ul>
			<li>SF1: Ganador de CF1 vs Ganador de CF2</li>
			<li>SF2: Ganador de CF3 vs Ganador de CF4</li>
		</ul>
		FINAL
		<ul>
			<li>Ganador SF1 vs Ganador SF2</li>
		</ul></p>


		<p>La Supercopa Montesina la jugarán los GMs ganadores de las ligas MNBA y D-LEAGUE,el ganador de la Copa Montesina y el equipo anfitrion (al azar).</p>

		Los cruces serán así:
			<ul>
				<li>Ganador de MNBA vs Ganador de D-League</li>
				<li>Ganador de Copa Montesina vs Anfitrion.</li>
			</ul>
		Final de Supercopa con los respectivos ganadores.

		<p>Fecha: Noviembre a determinar por el comisionado.</p>

		<p>En caso de que sea el mismo GM el ganador de una de las ligas y el ganador de copa. Participará el subcampeón de la liga correspondiente.</p>

		<p>Ganador: Premio Bonus 0,3</p>


		<p>RESOLUCIóN DE TIEBREAKERS
			<ul>
				<li>1-En caso de empate el que va con mejor seed.</li>
				<li>2-En caso de empate, el que llevara mejor % al iniciar la Copa.</li>
				<li>3-En caso de empate el que llevara más victorias al empezar la Copa.</li>
				<li>4-Si sigue empate, mejor waiver</li>
			</ul>
			NOTA: Los GMs que juegan las dos ligas sólo participarán en la Copa Montesina/Supercopa con el equipo con mejor record, excepto si renuncia al bonus de copa y supercopa.
		</p><hr> -->







<!--
	<h2>*20. CALENDARIO</h2>
	<p>
		<ul>
			<li>16 MAYO: INICIO DE TEMPORADA: RESTAR CONTRATOS, APLICACIóN DE BONUS Y SANCIONES</li>
			<li>MAYO del 16 al 31: Renovaciones y límite para ejercer derecho rookie.</li>
			<li>JUNIO desde el 1: Agencia Libre. Entran jugadores cortados en "corte gratis", derechos rookies no ejercidos, jugadores no renovados y FAs sobrantes.</li>
			<li>JUNIO: Sorteo draft y Draft de rookies.</li>
			<li>SEPTIEMBRE: Apuestas/Bonus.</li>
			<li>OCTUBRE: Cuenta yahoo/crear liga, Cierre de mercado (Pujas), Inicio de Regular Season, Apertura de mercado Regular Season (1x1)</li>
			<li>NOVIEMBRE: Supercopa MMBA, tercera semana de liga.</li>
			<li>DICIEMBRE HASTA ABRIL: Regular Season.</li>
			<li>ENERO-FEBRERO: COPA MNBA Y D-LEAGUE.</li>
			<li>MARZO: Trade deadline, primera semana de marzo. Playoff.</li>
			<li>ABRIL: Final playoff</li>
			<li>ABRIL del 15 al 1 de MAYO: Team option y Lesión larga duración.</li>
			<li>MAYO del 1 al 15: Un corte gratis mayor de 2M.</li>
		</ul>
	</p><hr> -->













<!--

	<h2>*21. ALL STAR MNBA VS D-LEAGUE</h2>
	<p>EL All Star se disputará la semana número 16, y lo disputarán un equipo formado por jugadores de MNBA contra otro grupo de jugadores de la D-LEAGUE.</p>

	<p>Para realizar los equipos se hará un draft donde ningún jugador puede ser elegido dos veces, si el GM de la DL elige a Harden por ejemplo, este no podrá ser elegido por la MNBA. Empezará eligiendo el equipo que vaya clasificado en primera posición al terminar la Copa (el lunes de la semana 14) y la liga que empiezará eligiendo será la liga del equipo campeón de Copa.</p>

	<p>Ejemplo: Si un team de la MNBA gana la Copa, el orden del draft será: 1o MNBA, 1o DL, 2o MNBA, 2o DL, 3ero MNBA, etc.</p>

	<p>Un GM solo puede elegir en el draft un jugador de su mismo equipo.</p>

	<p>Habrá 14 jugadores de la MNBA vs 14 jugadores de la DL y se computarán los stats tal y como si fuera una jornada normal de liga. La normativa es la misma que la de la liga. Con la única distinción de que juegan todos los players, no se tiene que hacer la alineación.</p>

	<p>El roster tendrá que estar formado por lo menos por 1 PG, 1 SG, 1 SF, 1 PF, 2 C, 2 G, 2 F y 4 UTIL.</p>

	<p>El partido del AS también computará en el resultado final.</p>

	<p>El capitán del equipo será el que vaya primero en la semana 14, si este no quiere se elegirá otro.</p>

	<p>Si una liga quiere sentar a un jugador en el bench, el capitán tiene que escribir a un comisionado y decirlo como muy tarde 1 segundo antes de que empiece el partido.</p>

	<p>En caso de lesión el GM del jugador lesionado nombrará otro jugador de su equipo.</p>

	<p>La liga que gane optará a la plaza por sorteo que hay vacante en la Supercopa.
	</p><hr> -->
