<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#">
    <img src="assets/img/ball.png" width="30" height="30" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <!-- <li class="nav-item active">-->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Inicio</a>
      </li>

      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['managerdetalle',18]">Mi equipo</a>
      </li> -->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">Onuba Bombers</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['equipodetalle', 18]">Mi equipo</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['ofertasenviadas']">Ofertas enviadas</a>
          <a class="dropdown-item" [routerLink]="['ofertasrecibidas']">Ofertas recibidas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['pujasactivas']">Pujas activas</a>
          <a class="dropdown-item" [routerLink]="['waivers']">Waivers</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['lesionados', 18]">Lesionados</a>
          <a class="dropdown-item" [routerLink]="['apuestas']">Apuestas</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">Liga</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['noticias',1]">Noticias</a>
          <a class="dropdown-item" [routerLink]="['equipolista']">Equipos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['apuestaslista']">Apuestas</a>
          <a class="dropdown-item" [routerLink]="['historico']">Histórico</a>
          <a class="dropdown-item" [routerLink]="['normativa']">Normativa</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Ir a D-League</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">Mercado</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['mercadojugadores']">Jugadores</a>
          <a class="dropdown-item" [routerLink]="['mercadoderechos']">Derechos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['mercadodraftpicks']">Draft Picks</a>
          <a class="dropdown-item" [routerLink]="['mercadotradingblock']">Trading Block</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Renovaciones</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['rjugadores']">Jugadores</a>
          <a class="dropdown-item" [routerLink]="['rpujasactivas']">Pujas activas (x)</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
         aria-expanded="false">Agencia Libre</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['aljugadores']">Jugadores</a>
          <a class="dropdown-item" [routerLink]="['alseasonjugadores']">Jugadores</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['aloffseasonjugadores']">Jugadores</a>
          <a class="dropdown-item" [routerLink]="['aloffseasonpujasactivas']">Pujas activas (y)</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Draft</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['draft']">Draft</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Comisionado</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['cliga']">Liga</a>
          <a class="dropdown-item" [routerLink]="['cequipos']">Equipos</a>
          <a class="dropdown-item" [routerLink]="['cjugadores']">Jugadores</a>
          <a class="dropdown-item" [routerLink]="['cdraft']">Draft</a>
          <a class="dropdown-item" [routerLink]="['ctrades']">Trades</a>
          <a class="dropdown-item" [routerLink]="['csubastas']">Subastas</a>
          <a class="dropdown-item" [routerLink]="['cwaivers']">Waivers</a>
          <a class="dropdown-item" [routerLink]="['csanciones']">Sanciones</a>
          <a class="dropdown-item" [routerLink]="['cbonus']">Bonus</a>
          <a class="dropdown-item" [routerLink]="['cnoticias']">Noticas</a>
          <a class="dropdown-item" [routerLink]="['cmatchup']">Matchup</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Administrador</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['managerlista']">Managers</a>
          <a class="dropdown-item" [routerLink]="['equiposabrlista']">Equipos</a>
          <a class="dropdown-item" [routerLink]="['parametroslista']">Parámetros Liga</a>
        </div>
      </li>
    </ul>

    <span class="navbar">
      <button [routerLink]="['login']"
          type="button"
          class="btn btn-success brn-margin btn-sm">Login</button>

      <button (click)="logout()"
          type="button"
          class="btn btn-danger brn-margin btn-sm">Salir</button>
    </span>

    <!--<span class="navbar">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 btn-sm" type="search" placeholder="Buscar jugador" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0 btn-sm" type="submit">Buscar</button>
      </form>
    </span>-->
  </div>
</nav>
